nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

body  {
    background-image: url('/static/aa.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */


}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

td.j{
    padding:12px;
    text-align: left

}
main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.d{
    word-wrap: break-word;
}

html {
    width: 100vw;
}

.nocolor {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 3px;
    padding-left: 0px;
    color: rgba(0,0,0,.7);
    font-size: large;
}

.po{
padding: 1px;}


.brand{
    color: white;
    text-shadow: 0 0 3px #eccbcb, 0 0 5px #000000;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 
  a{
    color: white;
    font-size:large;
    
  }
  a:hover{
      color:white ;
    text-shadow: 0 0 3px #f4f1f4, 0 0 5px #979393; 
  }

  .colorlable{
    color: aliceblue;
    text-shadow: 0 0 10px #ea07ea, 0 0 5px #6fdbdb;
    font-size: large;
}

.container{
align-items: center;
}

  
  